@-moz-keyframes foo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes foo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes foo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes foo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes foo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes bar {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}
@-webkit-keyframes bar {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}
@-o-keyframes bar {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}
@-ms-keyframes bar {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}
@keyframes bar {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}
