@-moz-keyframes foo {
  0% {
    color: #000;
  }

  100% {
    color: #fff;
  }
}
@-webkit-keyframes k {
  0% {
    content: 1;
  }
}
@-webkit-keyframes k {
  0% {
    content: 2;
  }
}
@-webkit-keyframes k {
  0% {
    content: 3;
  }
}
